@model IEnumerable<WorkoutKeeper.Models.ExerViewModel>
@{
    ViewBag.Title = "Edit Exercises";
    Layout = "_AdminLayout";
}

<div class="exers_List">
    <a class="btn btn-primary btn_return" asp-controller="Admin" asp-action="IndexTrain">Вернуться</a>
    <a class="btn btn-primary btn_return" asp-controller="Admin" asp-action="Create">Add-Execise</a>
    <table class="exers_table">
        @foreach (var day in Model)
        {
            <td colspan="2" class="exers_table_day"> @day.Day день</td>

            @foreach (var ex in day.Exercises)
            {
    <tr>
        <td class="exers_table_td"> @ex.Name</td>
        <td class="exers_table_td"> @ex.ApproachesNum подхода</td>
        <td>
            <a class="btn btn-primary" asp-action="AddEx" asp-route-exId="@ex.Id">Edit</a>
        </td>
        <td>
            <a class="btn btn-primary" asp-action="DeleteEx" asp-route-exId="@ex.Id" asp-route-day="@day.Day" 
                        asp-route-trainingName="@day.TrainingName">Delete</a>
        </td>
    </tr>

            }
        }
        @*TODO:добавить справа от упражнений картиночки(например спина, грудь и т.д.)*@
    </table>

</div>